<div class="error">
  <p>
    {{ __('Для работы плагина tt-client необходимо установить зависимый плагин', 'tt-client') }} 
    <a class="thickbox open-plugin-details-modal" href=" {{ function('get_admin_url', 'plugin-install.php?tab=plugin-information&plugin=timber-library&TB_iframe=true&width=772&height=340'}}">Timber</a>
  </p>
</div>