<div id="content" role="main" class="cabinet">
  <div class="container">
    <header class="cabinet-header">
      <h1 class="cabinet-header__title">{% block title %}Личный кабинет{% endblock %}</h1>
    </header>
  </div>
</div>