{% extends "cabinet_base.twig" %}

{% block title %}Доступ запрещен{% endblock %}

{% block header %}
<section class="dash-info error">
  <h4 class="dash-info__title">Ошибка</h4>
    <div class="dash-info__text">Доступ в личный кабинет доступен только авторизованным пользователям</div>
  </section>
{% endblock %}

{% block content %}
{{login}}
{% endblock %}