<div id="content" role="main" class="dash">
  <div class="container">
    <header class="entry-header">
      <h1 class="entry-title">{% block title %}Личный кабинет{% endblock %}</h1>
    </header>
    
    {% block header %}{% endblock %}

    {% block content %}{% endblock %}
  </div>
</div>